<nav>

  <span><%=link_to "Home", root_path %></span>
  <span><%=link_to "Background", background_path %></span>
  <span><%=link_to "Meet the Team", mtt_path %></span>
  <span><%=link_to "Design", design_path %></span>
  <span><%=link_to "Budget", budget_path %></span>
  <span><%=link_to "Schedule", schedule_path %></span>
  <span><%=link_to "Documents", documents_path %></span>
  <span><%=link_to "Updates", updates_path %></span>

</nav>