<nav>
  <ul>
    <li><%=link_to "Home", root_path %></li>
    <li><%=link_to "Background", background_path %></li>
    <li><%=link_to "Meet the Team", mtt_path %></li>
    <li><%=link_to "Design", design_path %></li>
    <li><%=link_to "Budget", budget_path %></li>
    <li><%=link_to "Schedule", schedule_path %></li>
    <li><%=link_to "Documents", documents_path %></li>
  </ul>
</nav>