<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="<%=asset_path "fire_icon.ico"%>" />
</head>
<body>

<%=render 'layouts/header' %>

<%=render 'layouts/navigation' %>
<content>
<%= yield %>
</content>
<%=render 'layouts/footer' %>

</body>
</html>
